.cat-item {
  padding: 2rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #eee;
  text-decoration: none;
  transition: box-shadow 0.1s ease;
  height: 100%;

  &:hover {
    box-shadow: 0 0 5px -2px;
  }

  span {
    width: min-content;
  }
}
