@import '../../../variables';
.CaroselItem {
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  animation: slideLeft 400ms ease forwards;

  display: inline-grid;
  grid-template-areas: 'img title' 'img specs';

  @media (min-width: 768px) {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    white-space: pre;
  }

  &__specs-li {
    padding: 0.75rem 1rem 0.75rem;
    margin-right: 2rem;
    display: block;
    list-style: none;
    font-size: 1.15rem;
    & + & {
      border-top: 1px solid;
    }
  }
}

.CaroselItem__title {
  grid-area: title;
  text-transform: capitalize;
  font-size: 2rem;
  line-height: 2;
}

.CaroselItem__specs-div {
  grid-area: specs;
}

.CaroselItem__manufacturer {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2;
}

.CaroselItem__img {
  height: 70%;
  display: block;
  object-fit: contain;
  grid-area: img;
  place-self: center;
}

.CaroselItem__btn {
  margin-top: 3rem;
  padding: 1rem 2rem !important;
  color: var(--primary) !important;
  font-size: 16;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0 !important;
  border: 3px solid var(--primary) !important;
  background-color: transparent !important;
  transition: color 250ms ease-in;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: skew(-5deg);

    transition: background-color 250ms ease-in;
  }
}

.CaroselItem__btn:hover {
  position: relative;
  color: white !important;

  transition-timing-function: ease-out;

  &::after {
    content: '';
    background-color: $pri-txt-c;
    transition-timing-function: ease-out;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
